

.card-body{
    width: 320px;
    text-align: center;
    border-radius: 15px;
    margin-top: 25px;
    margin: 15px;
    background-color: rgb(241, 239, 239);
    opacity: 0.9;
}

.card-body:hover{
    box-shadow: 0px 0px 8px 1px rgb(163, 156, 156);
    cursor: pointer;
}

.card-body>button>a{
    color: #f15025;
}
.card-body>button{
  text-decoration:none;
  color:#f15025;
  padding: 8px;
  border: 2px solid rgb(5, 206, 72);
  border-radius: 8px;

}
.card-body>button>a:hover{
    text-decoration: none;
}
.recepie-image{
    width:220px;
    height: 200px;
    border-radius: 8px;
}

.footer{
    padding:100px;
    background-color: #fa3c08;
    margin-top: 40px;
    text-align: center;
    color: white;
}