
.main-container{
   
  background-image: url('./brooke-lark-08bOYnH_r_E-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  opacity: 0.8;
}

@media only screen and (max-width:600px){
  .main-container{
      background-image: none;
  }
}
.heading{
  color: #f15025;
  font-family: 'Pacifico', cursive;
}
.form-group{
  width: 80%;
  display: flex;
  flex-direction: row;
}

.food-name{
  color: #f15025;
}
#content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
